[package]
name = "zookeeper-client"
version = "0.3.2"
edition = "2021"
authors = ["Kezhu Wang <kezhuw@gmail.com>"]
description = "ZooKeeper async client"
homepage = "https://github.com/kezhuw/zookeeper-client-rust/"
repository = "https://github.com/kezhuw/zookeeper-client-rust/"
documentation = "https://docs.rs/zookeeper-client/"
license = "MIT"
keywords = ["ZooKeeper"]
categories = ["api-bindings"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytes = "1.1.0"
tokio = {version = "1.15.0", features = ["full"]}
thiserror = "1.0.30"
strum = { version = "0.23", features = ["derive"] }
num_enum = "0.5.6"
ignore-result = "0.2.0"
compact_str = "0.4"
const_format = "0.2.22"
log = "0.4.14"
static_assertions = "1.1.0"
hashbrown = "0.12.0"
guard = "0.5.1"
hashlink = "0.8.0"

[dev-dependencies]
test-log = "0.2.12"
env_logger = "0.10.0"
rand = "0.8.4"
pretty_assertions = "1.1.0"
test-case = "3"
testcontainers = { git = "https://github.com/kezhuw/testcontainers-rs.git", branch = "zookeeper-client" }
speculoos = "0.9.0"
assert_matches = "1.5.0"
